<div layout-align="start start" layout="column" flex class="fill-horizontal md-whiteframe-z1">

    <md-list ng-if="!loadingFeature">
        <md-subheader class="md-no-sticky">3 line item</md-subheader>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <h3>Teste 1</h3>
                <h4>Teste 1</h4>
                <p>Teste 1</p>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-subheader class="md-no-sticky">2 line item</md-subheader>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>{{ todos[0].who }}</h3>
                <p>Secondary text</p>
            </div>
        </md-list-item>
    </md-list>

    <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/loading/feature.html'">
    </div>
</div>
