<div layout-align="start start" layout="column" flex class="fill-horizontal md-whiteframe-z1">

    <div ng-if="mode=='list'" class="fill" layout="column" flex layout-align="start start" class="fill">
        <div layout="row" layout-wrap class="scrollable" style="padding-bottom:18px;">
            <div layout="column" ui-sref="person/edit({uuid: item.uuid})" ng-repeat="item in list" >

                <bt-post-card ng-if="!listMode || listMode=='post_card'" item="item"></bt-post-card>
                <bt-card ng-if="listMode=='card'" item="item"></bt-card>
                <bt-simple-item ng-if="listMode=='simple_item'" item="item" class="fill-horizontal"></bt-simple-item>

            </div>
            <bt-button type="fab" label="Cadastrar atleta" icon="content.add" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="edit()"></bt-button>

        </div>
    </div>
    <div ng-if="mode=='edit'" layout="column" flex layout-align="start start" class="fill">

        <div layout="row" layout-align="start center"  class="fill-horizontal h-56" style="background-color: #F5F5F5">
            <div class="w-48 m-h-4">
                <img src="/assets/images/uploads/person/{{selected}}.png" class="face" style="height:48px;width:48px"/>
            </div>
            <div layout="column"layout-align="center center" flex>

            </div>
        </div>

        <md-tabs md-selected="selectedIndex" flex md-stretch-tabs="always" class="color-bg-1">
            <md-tab ng-repeat="(key, group) in data" label="{{'person.'+key+'.description' | translate}}">
                <div layout="column" flex class="fill-horizontall scrollable">
                    <div layout="row" layout-wrap layout-margin>
                        <bt-attribute style="height:56px;" layout="row" ng-repeat="attribute in group" label="{{'person.'+attribute.group+'.attributes.'+attribute.description | translate}}" data="attribute" ng-model="attribute.value" flex-sm="100" flex-gt-sm="{{attribute.size}}"></bt-attribute>
                    </div>
                </div>
            </md-tab>
        </md-tabs>

        <bt-button type="fab" label="Salvar dados do atleta" icon="action.done" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="save()"></bt-button>

    </div>

    <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/loading/app.html'">
    </div>
</div>
