<div layout-align="start start" layout="column" flex class="fill-horizontal md-whiteframe-z1">

    <div ng-if="mode=='list'" class="fill" layout="column" flex layout-align="start start" class="fill">
        <div layout="row" class="fill-horizontal h-56 color-bg-4">
            <div layout="row" layout-align="start center" class="w-32">
                <bt-button type="icon" label="Menu" icon="action.search" icon-color="white" size="48" icon-size="28" bt-class=""></bt-button>
            </div>
            <div layout="row" layout-align="start center" class="m-l-8" flex>
                <input type="text" class="color-bg-4 color-1" style="border-top:0;border-left:0;border-right:0"/>
                <md-input-container hide class="fill-vertical color-1" >
                    <label>Color</label>
                    <input type="text" ng-model="color">
                </md-input-container>
            </div>
            <div layout="row" layout-align="start center">
                <div layout="row" class="m-l-16"   layout-align="center center">
                    <bt-button type="icon" label="Menu" icon="action.view_list" ng-click="listMode='post_card'" icon-color="white" size="48" icon-size="28" bt-class=""></bt-button>
                </div>
                <div layout="row" class="m-l-16"   layout-align="center center">
                    <bt-button type="icon" label="Menu" icon="action.view_headline" ng-click="listMode='simple_item'" icon-color="white" size="48" icon-size="28" bt-class=""></bt-button>
                </div>
                <div layout="row" class="m-l-16" layout-align="center center">
                    <bt-button type="icon" label="Menu" icon="action.view_module" ng-click="listMode='card'" icon-color="white" size="48" icon-size="28" bt-class=""></bt-button>
                </div>
                <div layout="row" class="m-h-16"  layout-align="center center">
                    <bt-button type="icon" label="Menu" icon="navigation.more_vert" icon-color="white" size="48" icon-size="28" bt-class=""></bt-button>
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap class="scrollable">
            <div layout="column" ui-sref="person/edit({uuid: item.uuid})" ng-repeat="item in list">

                <bt-post-card ng-if="!listMode || listMode=='post_card'" item="item"></bt-post-card>
                <bt-card ng-if="listMode=='card'" item="item"></bt-card>
                <bt-simple-item ng-if="listMode=='simple_item'" item="item" class="fill-horizontal"></bt-simple-item>

            </div>
            <bt-button type="fab" label="Cadastrar atleta" icon="content.add" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="edit()"></bt-button>

        </div>
    </div>
    <div ng-if="mode=='edit'" layout="column" flex layout-align="start start" class="fill">

        <div layout="row" style="height:72px" layout-align="start start"  class="fill-horizontal bg-grey-dark" >
            <div layout="column">
                <img src="/assets/images/uploads/person/{{selected}}.png" class="m-l-4 m-t-4" style="height:64px;width:64px"/>
            </div>
        </div>
        <div layout="column" flex class="fill-horizontall">
            <div layout="row" layout-wrap layout-margin>
                <attr layout="row" ng-repeat="attribute in data.person_data"  data="attribute" ng-model="attribute.value" flex="{{attribute.size}}"></attr>
            </div>
        </div>
        <bt-button type="fab" label="Salvar dados do atleta" icon="action.done" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="save()"></bt-button>

    </div>

    <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/load/app.html'">
    </div>
</div>
