<div layout-align="start start" layout="column" flex class="fill-horizontal md-whiteframe-z1">

    <div ng-if="mode=='list' && !loadingFeature" fill flex layout="column" layout-align="start start">
        <bt-list type="listMode" data="listData" layout="column" fill></bt-list>
    </div>

    <div ng-if="mode=='edit' && !loadingFeature" layout="column" flex layout-align="start start" class="scrollable fill p-{{_app.defaults.padding}}">

        <md-tabs md-selected="selectedIndex" flex md-stretch-tabs="always" class="md-whiteframe-z1 color-bg-1" fill>
            <md-tab ng-repeat="(key, group) in formData" label="{{'movie.'+key+'.description' | translate}}">
                <div layout="column" flex class="fill-horizontal">
                    <bt-attribute class="m-8" layout="column" ng-repeat="attribute in group" label="{{'movie.'+attribute.group+'.attributes.'+attribute.description | translate}}"
                                  data="attribute" ng-model="attribute.value" flex-sm="100"></bt-attribute>
                </div>
            </md-tab>
        </md-tabs>

        <bt-button type="fab" label="Salvar vídeo" icon="action.done" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="save()"></bt-button>

    </div>

    <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/loading/feature.html'">
    </div>
</div>
