<div layout-align="center center" layout="row" flex>
  <div class="w-218" layout-align="start center" layout="row" >
    <img src="" style="margin-left:8px !important;" bt-theme="header.logo"  class="img-responsive">
  </div>
  <div flex class="m-l-8" layout="row" layout-align="start center" bt-theme="header.title" >
    <label class="s-150 m-l-8" ng-show="session.currentFeature">{{session.currentFeature.attributes.sidebar.title+'.description' | translate}}</label>
    <label class="s-150 m-l-8" ng-show="!session.currentFeature">Página Principal</label>

  </div>
  <div class="w-224 m-r-8 relative" layout="row" layout-align="end center" >
      <div ng-if="sidebar.right.feature" class="w-56" layout="row" layout-align="center center">
        <bt-button type="icon" label="Menu" icon="action.grade" icon-color="gold" size="48" icon-size="28" bt-class=""></bt-button>
        <div ng-show="sidebar.right.feature.selected" class="menu-right-arrow"></div>
      </div>
      <div class="w-56" layout="row" layout-align="center center">
        <bt-button type="icon" label="Menu" bt-theme="header.toolbar.notifications"></bt-button>
        <div ng-show="sidebar.right.notifications.selected" class="menu-right-arrow"  style="left:66px"></div>
      </div>
      <div class="w-56" layout="row" layout-align="center center">
        <bt-button type="icon" label="settings" bt-theme="header.toolbar.settings"></bt-button>
        <div ng-show="sidebar.right.settings.selected" class="menu-right-arrow"  style="left:122px"></div>
      </div>
      <div class="w-56" layout="row" layout-align="center center" ng-click="openRightMenu('user')">
        <bt-button type="icon" label="account" bt-theme="header.toolbar.account" >
        </bt-button>
        <div ng-show="sidebar.right.user.selected" class="menu-right-arrow" style="left:178px;"></div>
      </div>
  </div>

</div>

