<div id="company-create" flex-sm="80" flex-md="60" flex-lg="50" flex-gt-lg="30" class="" layout="column" layout-align="start center">
    <div ng-if="type" class="md-whiteframe-z1 color-bg-1 fill-horizontal" layout="column" layout-align="start center">
        <div class="fill-horizontal h-64" layout="row" layout-align="center center">
            <span class="s-150">Cadastro</span>
        </div>
        <div layout="row" flex layout-align="center center" class="fill-horizontal h-64" ng-repeat="attribute in formData">
            <bt-attribute flex="80" data="attribute" ng-model="attribute.value" label="{{'company.'+attribute.group+'.attributes.'+attribute.description | translate}}"></bt-attribute>
        </div>
        <div layout="row" flex class="fill-horizontal" layout-align="center center" style="margin-bottom:25px;margin-top:25px;">
            <div layout="column" flex="45" layout-align="start start" >
                <div layout="row" flex layout-align="start center">
                    <bt-button type="fab" label="Voltar" icon="navigation.arrow_back" bt-class="c-white color-bg-2"  ng-click="back()"></bt-button>
                </div>
            </div>
            <div layout="row" flex="40" layout-align="end center">
                <bt-button ng-if="!creatingCompany" type="fab" label="Entrar" icon-color="white" icon="action.done" bt-class="c-white color-bg-4" ng-click="createCompany()"></bt-button>
                <md-progress-circular md-theme="purple" ng-if="creatingCompany" md-mode="indeterminate"></md-progress-circular>
            </div>

        </div>

    </div>


    <div layout="column" flex class="fill-horizontal" ng-if="!type">
        <div class="fill-horizontal h-64">
            <span class="s-150 m-h-16">Escolha a opcão</span>
        </div>
        <div class="fill-horizontal" flex layout="row" layout-align="center center">
            <div flex ng-click="chooseType(item)" ng-repeat="item in types" class="md-whiteframe-z1 h-64 m-h-16 color-bg-1 pointer" layout="column" layout-align="center center">
                <span class="s-120">{{'company.'+item.description+'_data.description' | translate}}</span>
            </div>
        </div>
    </div>


</div>