<div bt-theme="feature.login" id="company-select" layout="column" layout-align="center center">
  <div fill class="h-96 m-b-16" layout="row" layout-align="center center" ng-if="!loadingAccount">
    <span class="s-120 bold" >Escolha a Empresa</span>
  </div>

  <div ng-if="!loadingAccount" class="h-64 m-b-16" fill ng-repeat="company in companies" layout="row" layout-align="start center" ng-click="chooseCompany(company.uuid)">
    <div class="w-64 m-h-16">
      <bt-icon ng-if="company.attributes.corporate_data" icon="social.location_city" size="64" label="" color="#FF9800"></bt-icon>
      <bt-icon ng-if="company.attributes.individual_data" icon="social.person" size="64" label="" color="#2196F3"></bt-icon>
    </div>
    <div flex>
      <span class="s-120 pointer" ng-if="company.attributes.individual_data">{{company.attributes.individual_data.name}}</span>
      <span class="s-120 pointer" ng-if="company.attributes.corporate_data">{{company.attributes.corporate_data.name}}</span>
    </div>
  </div>

  <div class="h-256" fill layout="row" layout-align="center center" ng-if="loadingAccount">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>

<bt-button bt-theme="button.fab.back" bt-class="md-fab-bottom-left" label="{{'button.back' | translate}}" ng-if="!loadingAccount" ui-sref="login"></bt-button>
