md-sidenav{
    width:256px !important;
    min-width:256px !important;
    max-width:256px !important;
}

.md-button{
    text-transform: none;
}
md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder{
    color:#9E9E9E;
    font-weight:bold;
}

md-input-container.md-default-theme .md-input {
    border-color:#E0E0E0;
}
.md-input-focused {
    border-color:black;
    color:black;
}

.picker__select--month, .picker__select--year{
    height:70px !important;
}
[layout="column"] > [fill] {
    width: 100%;
}

md-input-group input{
  width:100%;
  font-size: 1.2em;
}
md-input-group label{
    color:#781649 !important;
}