html,
body {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: Lato, 'Open Sans', verdana, arial;
}
* { min-width:0 ;min-height:0 }
label{
  margin-bottom:0px !important;
}
.pointer {
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.scrollable{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.fill-vertical {
    min-height: 100% !important;
    height: 100% !important;
}
.fill-horizontal {
    min-width: 100% !important;
    width: 100% !important;
}
.fill{
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
}
.pointer{
    cursor: pointer;
}
.relative{
    position: relative;
}
.border{
    border:1px #000 solid;
}
.list-none{
    list-style: none;
}
.img-responsive{
  max-width:100%;
  height:auto;
}
.face {
  border-radius: 50%;
}
.menu-right-arrow {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position:absolute;
  top:40px;
  left:10px;
  border-bottom: 22px solid #781649;
}