<div layout-align="start start" layout="column" flex class="fill-horizontal md-whiteframe-z1">

    <div ng-if="mode=='list'" class="fill" layout="column" flex layout-align="start start" class="fill">
        <div layout="row" layout-wrap class="scrollable">
            <div layout="column" ui-sref="contract/list({uuid : item.uuid})" ng-repeat="item in list">

                <bt-post-card ng-if="!listMode || listMode=='post_card'" item="item"></bt-post-card>
                <bt-card ng-if="listMode=='card'" item="item"></bt-card>
                <bt-simple-item ng-if="listMode=='simple_item'" item="item" class="fill-horizontal"></bt-simple-item>

            </div>
        </div>
    </div>

    <div ng-if="mode=='listContract'" layout="row" flex layout-align="start start" class="fill" layout-wrap>
        <md-content>
            <md-list>
                <md-item ng-repeat="item in listContract">
                    <md-item ng-repeat="(key, value) in item.attributes">

                        <md-item-content ui-sref="contract/edit({group : key, uuid : item.uuid})" class="pointer">
                            <div layout="row" class="md-whiteframe-z1 color-bg-1 pointer m-t-8 m-l-8" style="width:360px;height:144px;" flex>
                                <div layout="column" layout-align="center center" style="height:144px;width:144px">
                                    <bt-avatar feature="person" scale="128px" photo="/assets/images/contract-icon.png" bt-class="face m-v-8 m-h-8"></bt-avatar>
                                </div>
                                <div layout="column" layout-align="start start" flex class="m-8">
                                    <h3>{{key | translate}}</h3>
                                    <h4>{{value.identification}}</h4>
                                </div>
                            </div>

                        </md-item-content>

                    </md-item>
                </md-item>
            </md-list>
        </md-content>
        <bt-button type="fab" label="Cadastrar contrato" icon="content.add" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right" ng-click="newContract($event)"></bt-button>
    </div>

    <div ng-if="mode=='edit'" layout="column" flex layout-align="start start" class="fill">

        <div layout="column" flex class="fill-horizontall">
            <div layout="row" layout-wrap>
                <bt-attribute class="m-8" layout="row" ng-repeat="attribute in dataContract" label="{{attribute.description | translate}}" data="attribute" ng-model="attribute.value" flex="{{attribute.size}}"></bt-attribute>
            </div>
        </div>
        <bt-button type="fab" label="Salvar dados do contrato" icon="action.done" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="save()"></bt-button>

    </div>

    <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/load/app.html'">
    </div>
</div>
