<div layout-align="start start" layout="column" flex class="fill-horizontal md-whiteframe-z1">

    <div ng-if="mode=='list' && !loadingFeature" fill flex layout="column" layout-align="start start">
        <bt-list type="listMode" data="listData" layout="column" fill></bt-list>
    </div>

    <div ng-if="mode=='edit' && !loadingFeature" layout="column" flex layout-align="start start" class="scrollable fill p-{{_app.defaults.padding}}">

        <div layout="column" flex class="fill-horizontal">
            <div layout="row" layout-align="start center"  class="md-whiteframe-z1 fill-horizontal h-64 m-b-{{_app.defaults.padding}}" style="background-color: #F5F5F5">
                <bt-attribute class="m-8" layout="row" ng-repeat="attribute in formData.exam_data" label="{{'exam.'+attribute.group+'.attributes.'+attribute.description | translate}}" data="attribute" ng-model="attribute.value" flex-sm="100" flex-gt-sm="{{attribute.size}}"></bt-attribute>
            </div>
        </div>

        <bt-button type="fab" label="Salvar avaliação coletiva" icon="action.done" icon-color="white" bt-class="color-bg-4 c-white md-fab-bottom-right"  ng-click="save()"></bt-button>

    </div>

    <div ng-if="loadingFeature" layout="column" flex layout-align="center center" class="fill"  ng-include src="'app/shared/loading/content.html'">
    </div>

</div>