<div layout-align="start start" layout="column" flex class="fill-horizontal">

    <div layout-align="center center" layout="row" class="fill-horizontal h-64 md-whiteframe-z1 s-110 color-bg-4 color-1" >
        <div  layout="row" layout-align="start center" flex >
            <img id="testez22" class="m-l-16" bt-theme="sidebar.left.logo">
        </div>
    </div>
    <div layout-align="start start" layout="column" flex class="m-t-8 fill-horizontal">
        <div class="pointer fill-horizontal h-56" layout-align="center center" layout="row"  ng-repeat="menuLeftItem in session.features" ng-click="_app.feature.change(menuLeftItem)" ng-if="menuLeftItem.attributes.sidebar">
            <div layout-align="center center" layout="row" class="fill-horizontal">
                <bt-button type="button" label="{{menuLeftItem.attributes.sidebar.title+'.description' | translate}}" class="fill-horizontal" icon="{{menuLeftItem.attributes.sidebar.icon}}" icon-color="{{menuLeftItem.attributes.sidebar.icon_color}}"></bt-button>
            </div>
        </div>
    </div>
</div>