<div flex layout-align="start center" layout="column" class="fill-horizontal">
    <div class="fill-horizontal color-bg-4 h-64 md-whiteframe-z1 p-h-32" layout="row" layout-align="end center" >
        <ng-include src="'app/shared/header/headerToolbarView.html'"></ng-include>

    </div>
    <div layout-align="start start" layout="column" flex class="fill-horizontal" ng-if="_app.sidebar.right.feature.selected">
        <div class="m-t-16 border-bottom" layout="row" layout-align="start center" fill ng-if="_app.sidebar.right.feature.items.length>0">
            <bt-icon class="m-l-16" icon="action.search" color="#757575" size="32"></bt-icon>
            <input type="text" style="width:100%;margin:16px;border:0;font-size:18px;border-radius:2px" placeholder="{{'global.search.type_your_search' | translate}}" id="txtSearch" ng-keyup="_fn.search(this.value)" />
        </div>
        <div layout-align="start start" layout="column" flex class="fill-horizontal scrollable ">
            <div layout-align="start start" layout="column" class="m-t-8 fill-horizontal">
                <div class="pointer fill-horizontal h-56 p-h-16 border-bottom" layout-align="start center" layout="row"  ng-repeat="item in _app.sidebar.right.feature.items" ng-click="_app.sidebar.right.feature.action(item)" ng-if="_app.sidebar.right.opened">
                    <bt-icon icon="{{_app.feature.dict[_app.sidebar.right.feature.name].attributes.sidebar.icon}}" color="{{_app.feature.dict[_app.sidebar.right.feature.name].attributes.sidebar.icon_color}}" size="32"></bt-icon>
                </div>
            </div>
        </div>
    </div>

    <div layout-align="start end" layout="column" flex class="fill-horizontal" ng-if="_app.sidebar.right.user.selected">
        <div layout-align="start start" layout="column" flex class="fill-horizontal scrollable ">
            <div layout-align="start start" layout="column" class="m-t-8 fill-horizontal">
                <div class="pointer fill-horizontal h-56" layout-align="center center" layout="row" ng-click="_app.logout()">
                    <bt-button type="button" label="Desconectar" class="fill-horizontal" icon="action.exit_to_app" icon-color="black"></bt-button>

                </div>
            </div>
        </div>
        <div layout-align="center center" layout="row" class="fill-horizontal h-64">
            <div class="pointer" flex layout-align="center center" layout="row">
                <img src="assets/images/flags/pt_br.png" style="width:32px" ng-click="_fn.changeLanguage('pt_br')" />
            </div>
            <div class="pointer w-32" flex layout-align="center center" layout="row">
                <img src="assets/images/flags/en.png" style="width:32px" ng-click="_fn.changeLanguage('en')" />
            </div>
            <div class="pointer w-32" flex layout-align="center center" layout="row">
                <img src="assets/images/flags/es.png" style="width:32px" ng-click="_fn.changeLanguage('es')" />
            </div>
            <div class="pointer w-32" flex layout-align="center center" layout="row">
                <img src="assets/images/flags/普通話.png" style="width:32px" ng-click="_fn.changeLanguage('ch')" />
            </div>
        </div>
    </div>

</div>





