<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="pt-br" http-equiv="content-language" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="Gerenciamento de atletas" name="description" />
    <meta content="BeetCorp" name="author"/>
    <meta content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" name="viewport">

    <title>Beet</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->

</head>

<body ng-app="BeetApp" ng-controller="AppController">

<div bt-theme="container" class="fill" id="container" layout="column" ng-if="fullViewMode" style="display:none;">

    <!-- Header -->
    <ng-include src="'app/shared/header/headerView.html'"></ng-include>
    <!-- Header -->

    <div bt-theme="content" fill flex layout="row">

        <!-- Left Sidebar -->
        <md-sidenav bt-theme="sidebar.left" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-show="_app.sidebar.left.opened"  ng-controller="LeftController" ng-include src="'app/shared/sidebar/leftView.html'"></md-sidenav>
        <!-- Left Sidebar -->

        <div flex layout="column">

            <!-- Toolbar -->
            <ng-include src="'app/shared/toolbar/toolbarView.html'"></ng-include>
            <!-- Toolbar -->

            <!-- Main -->
            <main bt-theme="main" class="relative" flex layout="column" ui-view=""></main>
            <!-- Main -->
        </div>

        <!-- Right Sidebar -->
        <md-sidenav bt-theme="sidebar.right" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-controller="RightController" md-is-locked-open="$mdMedia('gt-lg')" ng-include src="'app/shared/sidebar/rightView.html'" ng-show="_app.sidebar.right.opened"></md-sidenav>
        <!-- Right Sidebar -->

    </div>

    <!-- Footer -->
    <ng-include src="'app/shared/footer/footerView.html'"></ng-include>
    <!-- Footer -->


</div>

<!-- Overlay Transparent -->
<div class="overlay-transparent" style="display:none;"></div>
<!-- Overlay Transparent -->

<!-- Loading App -->
<ng-include src="'app/shared/loading/app.html'"></ng-include>
<!-- Loading App -->

<!-- Single View -->
<div bt-theme="single_view" class="fill" id="single_view" ng-if="singleViewMode" layout="row" layout-align="center center"  ui-view="" style="display:none;"></div>
<!-- Single View -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automaticaly insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
